main {
    max-width: 800px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid #ddd;
    padding: 1rem;
    background-color: #f9f9f9;
    color: #333;
    font-size: 16px;
}

aside img {
    height: auto;
    width: 200 ;
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 10px;
    border-top: 5px solid #000;
    text-align: center;
}