* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    max-width: 800px;
}

aside {
    width: 20rem;
    font-size: 16px;
}

aside img {
    height: auto;
    width: 200px ;
}

aside h2 {
    position: relative;
    top: 100px;
    left: 70px;
}

main img {
    width: 150px;
    height: auto;
    float: right;
}

p {
    padding: 0;
}

footer {
    margin-top: 10px;
    border-top: 5px solid #000;
    text-align: center;
}

/* class selectors */

.box {
    margin: 1rem;
    border: 1px solid #ddd;
    padding: 1rem;
    background-color: grey;
    color : #000;
}